.function-name{
    -fx-fill: rgb(0, 0, 0);
    -fx-font-weight: bold;
}

.return-stmt{
    -fx-fill: rgb(255, 0, 0);
    -fx-font-weight: bold;
}

.syntax-area {
    -fx-font-family: monospace;
    -fx-background-color: #fff;
}